body { /*In my CSS code, in some cases I have used the same background colour and border, as some divs are the same as others in their appearance.*/
background: #7D9EC0; /*This code sets the background colour and the font.*/
font-family: arial;
}

a img { 
border: none; /*This rule makes all images have no border. I have used this because images that have been made into links automatically have a border.*/
}

#container { /*This sets the rules for the div id "container".*/
margin: auto; 
padding: 1em;
width: 1000px;
border: 15px solid #36648B;
}

#slogan { /*outlines colour and size of text within div and centres text.*/
color: #FAFAFA;
font-size: 40px;
padding: 5px;
text-align: center;
}

#header {
margin: 0;
padding: 1em;
background-color:#FAFAFA;
border: 2px solid #000000;
}

#leftnav {
float: left; /*I have floated this div left, which means it will appear on the left of the page.*/
clear: both;
background-color:#FAFAFA;
padding: 1em;
border: 2px solid #000000;
}

.musicnews, .videos, .futurereleases, .newsletter, .livecharts{ /*These rules set the blue lines either side of my navigation links*/
padding-left: 5px;
padding-right: 5px;
border-left: 5px solid #0099CC;
border-right: 5px solid #0099CC;
}

#leftaccess { /*Like the div "leftnav", this div floats left too, but goes under the navigation. These rules define the margins and padding in this div.*/
float: left;
clear: both;
background-color:#FAFAFA;
padding: 1em;
margin-top: 2em;
border: 2px solid #000000;
text-align: center;
width: 216px;
}

h1, h2, h3 { /*Makes all the headings defined in arial black font with a centre alignment*/
font-family: arial black;
text-align: center;
}

#content { /*These rules make the div id "content" have 280px of space on the left margin and 1em of padding.*/
margin-left: 280px;
padding: 1em;
background-color:#FAFAFA;
border: 2px solid #000000;
}

.adele { /*This sets the image class "adele" to float left of the text and have a margin*/
float: left;
margin: 10px;
}

.bep{ /*This sets the image class "bep" to float right of the text and have a margin*/
float: right;
margin: 10px;
}

#footer {
background-color:#FAFAFA;
margin-top: 2em;
padding-left: 1em;
border: 2px solid #000000;
text-align: center;
font-weight: bold;
}